extends base.pug

block scripts
    script
        include ../static/index.js
block style
    style
        include ../static/style.css
        include ../static/ad-making.css

block content
    section.ad-sec
        p Videoes are supposed to come soon.....
    