doctype html
html
    head
        title AK DIGITAL STUDIO
        block scripts
            script(src="")
        block style
    body    
        nav#navbar.top
            ul
                div.logo
                    img(src="../static/logo33.jpg", alt="Error")
                li #[a(href = '/') Home]
                li #[a(href = '/contact') Adress] 
                li #[a(href = '/photos') Photos]
                li #[a(href = '/contact') Contact Us]
        block content

        block foot
            footer#footer
                p  Copyright Belongs to Ak Digital Studio. | All Rights Rserved. Phone Number-+91825641397   