extends base.pug

block scripts
    script
        include ../static/index.js

block style
    style
        include ../static/style.css
        include ../static/bride.css

block content
    img(src="../static/ak\ studio\ images/wedding/bride/wedding1.jpeg", alt="Error not found")