extends base.pug

block scripts
    scripts
        include ../static/index.js

block style
    style
        include ../static/style.css 
        include ../static/candid.css
        include ../static/candid-response.css
block content
    section#sec 
        h1#header CANDID PHOTOS
        p.para Candid photos are the photos which are taken without letting to know the subject that there photo is being taken up.
                | Some of our best candid photos are:
        img(src="../static/ak studio images/all images/candid6.jpeg", alt="Error not found")
        img(src="../static/ak studio images/all images/candid6.jpeg", alt="Error not found")
        img.an-img(src="../static/ak studio images/all images/candid8.jpg", alt="Error not found")
        img.an-img(src="../static/ak studio images/all images/candid15.jpg", alt="Error not found")
        img(src="../static/ak studio images/all images/candid.jpeg", alt="Error not found")
        img.an-img(src="../static/ak studio images/all images/candid7.jpg", alt="Error not found")
        img.an-img(src="../static/ak studio images/all images/candid5.jpeg", alt="Error not found")
        img(src="../static/ak studio images/candid photos/candid2.jpeg", alt="Error not found")
    section#sec-2
        img(src="../static/ak studio images/candid photos/candid66.jpeg", alt="Error not found")
        img.an-img(src="../static/ak studio images/engagements/engagement3.jpeg", alt="Error not found")
        img(src="../static/ak studio images/baby/baby2.JPG", alt="Error not found")
        img(src="../static/ak studio images/baby/baby.JPG", alt="Error not found")
        img(src="../static/ak studio images/all images/post-wedding2.jpeg", alt="Error Found")
        img(src="../static/ak studio images/all images/C 001.jpg", alt="Error Found")
        img(src="../static/ak studio images/all images/post-wedding.jpeg", alt="Error Found")
        