extends base.pug
block scripts
    scripts
        script(src="../static/cinema.js")
block style
    style
        include ../static/style.css
        include ../static/youtube.css
block content
    section#youtubesection
        div.shortmovies
            h2.h2-box #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") SHORT MOVIES]
            div.img-vid
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2IxPAiW1jOM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
            div.content
                p We create  #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") short movies] related to the problems of the society and #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") motivational short videoes] along 
                    | with some fantastic #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") songs] that can blow your mind.
        div.shortmovies
            h2.h2-box #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") Short Videoes]
            div.img-vid
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ZGf0Bz6Pkxw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" height='640' width='540' frameborder='0'></iframe>
            div.content
                p We create #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") short movies] related to the problems of the society and #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") motivational short videoes] along 
                    | with some fantastic #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") songs] that can blow your mind.
        div.shortmovies
            h2.h2-box #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") Motivational Videoes]
            div.img-vid
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4b-3nlJklMA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" height='640' width='540' frameborder='0'></iframe>
            div.content
                p We create #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") short movies]  related to the problems of the society and #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") motivational short] videoes along 
                    | with some fantastic #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") songs] that can blow your mind.
        div.shortmovies
            h2.h2-box #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") Songs]
            div.img-vid
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3eYRHCreE48" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            div.content
                p We create #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") short movies] related to the problems of the society and #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") motivational short videoes] along 
                    | with some fantastic #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") songs] that can blow your mind.
        div.shortmovies
            h2.h2-box #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") Social Related Videoes]
            div.img-vid
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zXHB5-T6EsA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            div.content
                p We create #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") short movies] related to the problems of the society and #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") motivational short videoes] along 
                    | with some fantastic #[a(href="https://www.youtube.com/channel/UCyKTBikSTmlI9oXDH-HEhhw/videos") songs] that can blow your mind.    