extends base.pug

block scripts
    scripts(src="../static/index.js")
block style
        style
            include ../static/style.css
            include ../static/creative.css
block content
    section.creative-content
        img(src="../static/ak\ studio\ images/all images/baby1.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby5.jpeg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby9.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby10.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby11.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby12.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby13.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/candid.jpeg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby8.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/candid.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby4.jpeg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby6.jpg", alt="Network Error")
        img(src="../static/ak\ studio\ images/all images/baby7.jpg", alt="Network Error")