extends base.pug

block scripts
    scripts(src="../static/index.js")
block style
        style
            include ../static/style.css
            include ../static/drone.css
block content
    section.drone-content
        p.drone-para Photos and videoes are coming soon......