extends base.pug

block scripts
    scripts
        include ../static/index.js
block style
    style
        include ../static/style.css
        include ../static/engagement.css

block content
    section#eng
        img(src="../static/ak studio images/engagements/enagement1.jpeg", alt="Error Found")
        img(src="../static/ak studio images/engagements/engagement2.jpeg", alt="Error Found") 
        img(src="../static/ak studio images/engagements/engagement3.jpeg", alt="Error Found")
        img(src="../static/ak studio images/engagements/enagement1.jpeg", alt="Error Found")
        img(src="../static/ak studio images/engagements/enagement1.jpeg", alt="Error Found")
        
