extends base.pug

block scripts
    scripts
        include ../static/index.js

block style
    style
        include ../static/style.css 
        include ../static/maternity.css

block content
    h1#header MATERNITY SHOOT 
    p.para-maternity Maternity Shoot is a Phto shoot take during the 7-8 months of pregnancy of a woman as a memory.
        | Some of our best maternity shoot clicks are:
    p.para-maternity Photos are coming soon......
    //- img.image-1(src="../static/engagement2.jpg", alt="Error not found")
    //- img.image-1(src="../static/engagement.jpg", alt="Error not found")
    //- img.image-1(src="../static/engagement.jpg", alt="Error not found")
    //- img.image-1(src="../static/engagement.jpg", alt="Error not found")
    //- img.image-1(src="../static/engagement2.jpg", alt="Error not found")
    //- img.image-1(src="../static/engagement.jpg", alt="Error not found")
    //- img.image-1(src="../static/engagement.jpg", alt="Error not found")
    //- img.image-1(src="../static/engagement.jpg", alt="Error not found")    