extends base.pug

block scripts
    scripts(src="../static/index.js")
block style
        style
            include ../static/style.css
            include ../static/modelling.css
block content
    section.modelling-content
        p.modelling-para Photos are coming soon......