extends base.pug

block scripts
    scripts(src="../static/index.js")
block style
        style
            include ../static/style.css
            include ../static/photos.css

block content
    section#PhotoSections
        h2 Our Works
        div.p-card
            h3 #[a(href = '/wedding') Wedding Photoshoot]
            div.card-box
                div.card-img
                    img(src="../static/ak\ studio\ images/wedding/wedding2.jpeg",alt="Error")
            div.card-content
                p Have a look at Wedding photos
            //- img(src="../static/wedding.jpg", alt="../static/wedding2.jpg")-//
                
        
        div.p-card
            h3 #[a(href = '/Babyshoot') Baby Shoot]
            div.card-box
                div.card-img
                    img(src="../static/ak\ studio\ images/baby/baby2.jpg", alt="Error")
            div.card-content
                p Have a look at the cuteness of the baby ahead.
            //- img(src="../static/wedding2.jpg", alt="")
        div.p-card
            h3 #[a(href = '/maternity-shot') Maternity Shoot]
            div.card-box
                div.card-img
                    img(src="../static/baby.jpg", alt="Error")
            div.card-content
                p How is it?
            //- img(src="../static/baby.jpg", alt="")
        
        div.p-card
            h3 #[a(href = '/outdoor-photos') Outdoor Photoshoot]
            div.card-box
                div.card-img
                    img(src="../static/ak\ studio\ images/candid photos/candid5.jpeg", alt="Error")
            div.card-content
                p Let's Have a great fun outside.
            //- img(src="../static/baby2.jpg", alt="")
        
        
        div.p-card
            h3 #[a(href = '/cinemaphotos') Cinematography]
            div.card-box
                div.card-img
                    img(src="../static/ak digital studio Poster thumb.jpg", alt="Error")
            div.card-content
                p Let's Shoot some films.
        
        
        div.p-card
            h3 #[a(href = '/candid-photos') Candid]
            div.card-box
                div.card-img
                    img(src="../static/ak\ studio\ images/all images/candid.jpg", alt="Error")
            div.card-content
                p Have a look at some.
       
        div.p-card
            h3 #[a(href = '/drone-shoot') Drone Shoot]
            div.card-box
                div.card-img
                    img(src="../static/ak\ studio\ images/wedding/bride/wedding1.jpeg", alt="Error")
            div.card-content
                p Wanna have it?
       
        div.p-card
            h3 #[a(href = '/modelling') Modelling Shoot]
            div.card-box
                div.card-img
                    img(src="../static/ak studio images/all images/candid.jpeg", alt="Error")
            div.card-content
                p Make yourself Upcoming best model. 
       
        div.p-card
            h3 #[a(href = '/ad-making') Ad-Making]
            div.card-box
                div.card-img
                    img(src="../static/ak digital studio Poster thumb.jpg", alt="Error")
            div.card-content
                p Let's shoot some of the best ads.
        
        div.p-card
            h3 #[a(href = '/') Product Photoshoot]
            div.card-box
                div.card-img
                    img(src="../static/ak digital studio Poster thumb.jpg", alt="Error")
            div.card-content
                p Let's get some click for product.
    
        div.p-card
            h3 #[a(href = '/') Short Film]
            div.card-box
                div.card-img
                    img(src="../static/ak digital studio Poster thumb.jpg", alt="Error")
            div.card-content
                p Let's Shoot.
        
        div.p-card
            h3 #[a(href = '/') Video Editing]
            div.card-box
                div.card-img
                    img(src="../static/ak\ studio\ images/all images/candid10.jpg", alt="Error")
            div.card-content
                p A place where you can edit your videoes.
        
        div.p-card
            h3 #[a(href = '/creative-photos') Creative Photos]
            div.card-box
                div.card-img
                    img(src="../static/ak\ studio\ images/all images/baby10.jpg", alt="Error")
            div.card-content
                p Photos having their creativity at its best.