extends base.pug 

block scripts
    scripts
        include ../static/index.js
block style
    style
        include ../static/style.css
        include ../static/post-wedding.css

block content
    section#post-wedding-content
        img(src="../static/ak studio images/all images/C 001.jpg", alt="Error Found")
        img(src="../static/ak studio images/all images/post-wedding.jpeg", alt="Error Found")
            
        img(src="../static/ak studio images/all images/F 002.jpg", alt="Error Found")
        img(src="../static/ak studio images/all images/F 008.jpg", alt="Error Found")
        img(src="../static/ak studio images/all images/post-wedding2.jpeg", alt="Error Found")
        img(src="../static/ak studio images/all images/C 0005 AK.jpg", alt="Error Found")
        img(src="../static/ak studio images/all images/candid8.jpg", alt="Error Found")
        img(src="../static/ak studio images/all images/post-wedding-candid.jpg", alt="Error Found")
        //- img(src="../static/ak studio images/all images/baby6.jpg", alt="Error Found")
        //- img(src="../static/ak studio images/all images/baby12.jpg", alt="Error Found")
        //- img(src="../static/ak studio images/all images/baby13.jpg", alt="Error Found")
        //- img(src="../static/ak studio images/all images/baby10.jpg", alt="Error Found")
    