extends base.pug

block scripts
    script
        include ../static/index.js
block style
    style
        include ../static/style.css
        include ../static/pre-birthday.css

block content
        section#pre-birthdaycontent
            //- img(src="../static/ak studio images/baby/baby.JPG", alt="Error Found")
            //- img(src="../static/ak studio images/baby/baby1.jpg", alt="Error Found")
            //- img(src="../static/ak studio images/baby/baby2.JPG", alt="Error Found")
            
            //- img(src="../static/ak studio images/baby/baby5.jpeg", alt="Error Found")
            //- img(src="../static/ak studio images/all images/baby8.jpg", alt="Error Found")
            //- img(src="../static/ak studio images/all images/baby11.jpg", alt="Error Found")
            //- img(src="../static/ak studio images/baby/baby4.jpeg", alt="Error Found")
            //- img(src="../static/ak studio images/all images/baby7.jpg", alt="Error Found")
            //- img(src="../static/ak studio images/all images/baby6.jpg", alt="Error Found")
            //- img(src="../static/ak studio images/all images/baby12.jpg", alt="Error Found")
            //- img(src="../static/ak studio images/all images/baby13.jpg", alt="Error Found")
            //- img(src="../static/ak studio images/all images/baby10.jpg", alt="Error Found")
            p.para-pre PHOTOS OF PRE-BIRTHDAY ARE COMING SOON.