*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.logo{
    display: flex;
    color: white;
    margin: 0px 14px;
    align-items: center;
    width: 12%;
}
.logo img{
    width: 28%;
    filter: invert();
    border-radius: 50%;
    margin: -12px 0px;
}
#navbar{
    background-color: aqua;
    padding: 13px 4px;
    background-color: #e00808;
    position: fixed;
    top: 0;
    height: 23px;
    width: 100%;
}
#navbar li a{
    text-decoration: none;
    list-style: none;
    padding: 13px 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1.5rem;
}
#navbar li{
    list-style: none;
}
#navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-content: center;
}
#navbar li a:hover{
    color: black;
    font-weight: bold;
}
#introSections{
    height: 425px;
    /* background-color: red; */
    background: center/ contain no-repeat url("../static/ca.jpg");
    background-size: 2000px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width:105%;
}
.head{
        font-size: 83px;
}
.small{
    font-size: 40px;
    padding: 2px 2px;
}
#introSections p{
    text-align: center;

}
#sponsersSections{
    height: 4316px;
    /* background-color: yellow; */
    background-color:black;
    background-size: 2000px;
    margin: auto;
    width: 100%;
    display: block;
    height: 6000px;
    width:105%;
}
#sponsersSections h2{
    text-align: center;
    padding: 24px 0px;
    font-size: 60px;
    color: white;
}
#footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    width:105%;
}
.card{
    /* border: 4px solid red; */
    border-radius: 10px;
    width: 27%;
    margin: 17px 30px;
    height: 259px;
    display: inline-block;
}
.card h3{
    text-align: center;
    margin-top: 11px;
    text-align: center;
}
.card h3 a{
    color:white;
    text-decoration: none;
    font-size:33px;
}
.card h3 a:hover{
    color: blue;
    font-weight: bold;
}
.card-outdoor{
    border-radius: 10px;
    width: 27%;
    margin: 17px 30px;
    height: 259px;
    padding:10px 382px;
    display: inline-block;
}
.card-outdoor h3{
    text-align: center;
    margin-top: 11px;
    text-align: center;
}
.card-outdoor h3 a{
    color:white;
    text-decoration: none;
    font-size:33px;
}
.card-outdoor h3 a:hover{

    color: blue;
    font-weight: bold;
}
.card-box-outdoor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img-outdoor{
    height: 540px;
    padding: 0px 14px;
}
.card-img-outdoor img{
        height:538px;
        width:806px;
}
.card-content-outdoor{
    padding: 0px 10px;
}
.card-content-outdoor p{
    font-size: 17px;
    color: white;
    margin: 10px 0px;
    text-align: center;
}
.card-cinematography{
    border-radius: 10px;
    width: 27%;
    padding:54px 391px;
    height: 259px;
    display: inline-block;
}
.card-cinematography h3{
    text-align: center;
    margin-top: 11px;
    text-align: center;
}
.card-cinematography h3 a{
    color:white;
    text-decoration: none;
    font-size:33px;
}
.card-cinematography h3 a:hover{

    color: blue;
    font-weight: bold;
}
.card-cinematography-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-cinematography-img{
    height: 540px;
    padding: 0px 14px;
}
.card-cinematography-img img{
        height:538px;
        width:806px;
}
.card-cinematography-content{
    padding: 0px 10px;
}
.card-cinematography-content p{
    font-size: 17px;
    color: white;
    margin: 10px 0px;
    text-align: center;
}
.card-candid{
    border-radius: 10px;
    width: 27%;
    padding:54px 391px;
    height: 259px;
    display: inline-block;
}
.card-candid h3{
    text-align: center;
    margin-top: 11px;
    text-align: center;
}
.card-candid h3 a{
    color:white;
    text-decoration: none;
    font-size:33px;
}
.card-candid h3 a:hover{

    color: blue;
    font-weight: bold;
}
.card-candid-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-candid-img{
    height: 540px;
    padding: 0px 14px;
}
.card-candid-img img{
        height:538px;
        width:806px;
}
.card-candid-content{
    padding: 0px 10px;
}
.card-candid-content p{
    font-size: 17px;
    color: white;
    margin: 10px 0px;
    text-align: center;
}
.card-ad{
    border-radius: 10px;
    width: 27%;
    padding: 54px 391px;
    height: 259px;
    display: inline-block;
}
.card-ad h3{
    margin-top: 11px;
    text-align: center;
}
.card-ad h3 a{
    color:white;
    text-decoration: none;
    font-size:33px;
}
.card-ad h3 a:hover{

    color: blue;
    font-weight: bold;
}
.card-ad-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-ad-img{
    height: 540px;
    padding: 0px 14px;
}
.card-ad-img img{
        height:538px;
        width:806px;
}
.card-ad-content{
    padding: 0px 10px;
}
.card-ad-content p{
    font-size: 17px;
    color: white;
    margin: 10px 0px;
    text-align: center;
}
.card-product{
    border-radius: 10px;
    width: 27%;
    padding: 59px 391px;
    height: 259px;
    display: inline-block;
}
.card-product h3{
    margin-top: 11px;
    text-align: center;
}
.card-product h3 a{
    color:white;
    text-decoration: none;
    font-size:33px;
}
.card-product h3 a:hover{

    color: blue;
    font-weight: bold;
}
.card-product-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-product-img{
    height: 540px;
    padding: 0px 14px;
}
.card-product-img img{
        height:538px;
        width:806px;
}
.card-product-content{
    padding: 0px 10px;
}
.card-product-content p{
    font-size: 17px;
    color: white;
    margin: 10px 0px;
    text-align: center;
}
.card-short{
    border-radius: 10px;
    width: 27%;
    padding: 54px 391px;
    height: 259px;
    display: inline-block;
}
.card-short h3{
    margin-top: 11px;
    text-align: center;
}
.card-short h3 a{
    color:white;
    text-decoration: none;
    font-size:33px;
}
.card-short h3 a:hover{
color: blue;
font-weight: bold;
}
.card-short-box{
display: flex;
align-items: center;
justify-content: center;
}
.card-short-img{
height: 540px;
padding: 0px 14px;
}
.card-short-img img{
    height:538px;
    width:806px;
}
.card-short-content{
padding: 0px 10px;
}
.card-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-img{
    height: 540px;
    padding: 0px 14px;
}
.card-img img{
    height: 538px;
    width: 358px;
}
.card-content{
    padding: 0px 10px
}
.card-content p {
    font-size: 17px;
    color: white;
    margin: 10px 0px;
    text-align: center;

}
